---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "18:07"
      timezone: "Europe/Stockholm"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "18:12"
      timezone: "Europe/Stockholm"
